<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sistema Mene Acessibilidade</title>



    <%= javascript_include_tag "application", :media => "all"%>

    <%= stylesheet_link_tag    "init", :media => "all" %>
    




    <%= csrf_meta_tags %>





</head>
<body>

    <div id="slider">
    <div id="templatemo_wrapper">
        
        <div id="templatemo_sidebar">
        
            <a class="home" href="#home"></a>
            <div id="menu">
                <ul class="navigation">
                    <li><%=link_to "Objetos", objetos_path, :class => 'vertical', :style => 'color:white;'%></li>
                    <li><%=link_to "Locais", locais_path, :class => 'vertical', :style => 'color:white;'%></li>
                    <li><%= link_to "Gerente", nil ,:class => 'vertical', :style => 'color:white;'%></li>
                    <li><%= link_to "Inspetor", nil ,:class => 'vertical', :style => 'color:white;'%></li>
                </ul>
            </div>
        </div> <!-- end of sidebar --> 
    
        <div id="content">
          <div id="header">
                <h1><%= link_to 'home', root_path %></h1>
            </div>
                <div class="salutation">
                    <% if current_inspetor || current_gerente %>
                        <p> Bem-vindo <%=current_gerente.nome if current_gerente %> <%= current_inspetor.nome%>
                        </p>
                        <p> Clique aqui para <%=link_to 'SAIR', destroy_gerente_session_path, :method => :delete%>
                        </p>
                    <%else%>
                        <p>
                        Faça o login como <%=link_to 'Gerente', new_gerente_session_path%> ou como <%= link_to 'Inspetor', new_inspetor_session_path  %>
                     </p>
                    <%end%>
                </div>

            <div class="scroll">
              <div class="scrollContainer">
                <div class="panel" id="home">
                    <% if flash[:alert]%>
                    <div class='alert alert-error'>
                        <%=flash[:alert]%>
                    </div>
                    <% end %>
                    <% if flash[:notice]%>
                    <div class='alert alert-success'> Login realizado com sucesso.
                    </div >
                    <%end%>
                    <%= yield %>
                </div><!-- end of home -->
            </div><!-- end of scroll -->
        </div>
        <div class="cleaner"></div>
        <div id="footer">
    
            Copyright © 2013 <a href="#">Mene Acessibilidade</a> | Designed by Nadav Peretz
            
        </div>
    </div> <!-- end of content -->
    <div class="cleaner"></div>
</div>

</body>
</html>
