<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sistema Mene Acessibilidade</title>
<meta name="keywords" content="vertical theme, free css template" />
<meta name="description" content="Vertical Theme, Free CSS Template by templatemo.com" />


    <%= javascript_include_tag "application", :media => "all"%>

    <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
    <%= stylesheet_link_tag    "templatemo_style", :media => "all" %>
    <%= stylesheet_link_tag    "coda-slider", :media => "all" %>




    <%= csrf_meta_tags %>





</head>
<body>
    
    <div id="slider">
    <div id="templatemo_wrapper">
        
        <div id="templatemo_sidebar">
        
            <a class="home" href="#home"></a>
            <div id="menu">
                <ul class="navigation">
                    <li><a href="#about" class="selected"><%= image_tag("templatemo_aboutus.png", :alt => "About Us")%></a></li>
                    <li><a href="#services"><%= image_tag("templatemo_services.png", :alt => "Services")%></a></li>
                    <li><a href="#contact"><%= image_tag("templatemo_contactus.png", :alt => "Contact")%></a></li>
                </ul>
            </div>
        </div> <!-- end of sidebar --> 
    
        <div id="content">
          <div id="header">
                <h1><a href="">Free CSS Templates</a></h1>
                <div id="social_box">
                    <a href="http://www.facebook.com/templatemo"><%= image_tag("facebook.png", :alt => "facebook")%></a>
                    <a href="#"><%= image_tag("flickr.png", :alt => "flickr")%></a>
                    <a href="#"><%= image_tag("myspace.png", :alt => "myspace")%></a>
                    <a href="#"><%= image_tag("twitter.png", :alt => "twitter")%></a>
                    <a href="#"><%= image_tag("youtube.png", :alt => "youtube")%></a>
                </div>
            </div>
            
            <div class="scroll">
              <div class="scrollContainer">
                <div class="panel" id="home">
                    <%= yield %>
                </div><!-- end of home -->
            </div><!-- end of scroll -->
        </div>
        <div class="cleaner"></div>
        <div id="footer">
    
            Copyright © 2013 <a href="#">Mene Acessibilidade</a> | Designed by Nadav Peretz
            
        </div>
    </div> <!-- end of content -->
    <div class="cleaner"></div>
</div>

</body>
</html>
