<html>
	<head>
		<title>Sistema Mene-Acessibilidades</title>
		<%= javascript_include_tag "application", :media => "all"%>

    <%= stylesheet_link_tag    "coda-slider", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap", :media => 'all' %>
    <%= stylesheet_link_tag    "templatemo_style", :media => "all" %>
	</head>	
	<body>

		<%=yield%>
	</body>
</html>